@page "/Catalogo"
@inject HttpClient httpClient


<div class="productos">
    <h1>Prueba</h1>
    
    @foreach (var item in ListaProductos)
    {
        <div class="card col-3 item-card">
            <div class="img-container">
                @if (item.Foto != null)
                {
                    var base64 = Convert.ToBase64String(item.Foto);
                    var imgSrc = $"data:image/jpeg;base64,{base64}";

                    <img src="@imgSrc" alt="Imagen del producto" class="item-imagen" width="300" />
                    
                }
            </div>

            <div class="card-body">

                <div class="mb-3">
                    <strong>Nombre:</strong> @item.Nombre
                </div>
                <div class="mb-3">
                    <strong>Descripción:</strong> @item.Descripcion
                </div>
                <div class="mb-3">
                    <strong>Precio:</strong> $@item.Precio
                </div>
                <a href="/vistaProducto//@producto.ProductoId"><button type="button" class="btn btn-info">Agregar</button></a>
            </div>

            
        </div>
    }
</div>

@code 
{
    public List<Productos> ListaProductos { get; set; } = new List<Productos>();

    public Productos producto { get; set; } = new Productos();

    protected override async Task OnInitializedAsync()
    {
        await Buscar();

    }

    public async Task Buscar()
    {
        ListaProductos = await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos");
    }

    public class Productos
    {
        public int ProductoId { get; set; }
        public byte[]? Foto { get; set; }
        public string? Nombre { get; set; }
        public string? Descripcion { get; set; }
        public decimal Precio { get; set; }
    }
}