@page "/Catalogo"
@inject HttpClient httpClient
@inject IServicioProducto ServicioProducto

<div class="productos">

    @foreach (var item in CategoriaId == null ? ServicioProducto.productos : ServicioProducto.productos.Where(p => p.CategoriaId == CategoriaId))
    {
        <div class="card col-3 item-card">
            <div class="img-container">
                @if (item.Foto != null)
                {
                    var base64 = Convert.ToBase64String(item.Foto);
                    var imgSrc = $"data:image/jpeg;base64,{base64}";

                    <img src="@imgSrc" alt="Imagen del producto" class="item-imagen" width="300" />
                    
                }
            </div>

            <div class="card-body">

                <div class="mb-3">
                    <strong>Nombre:</strong> @item.Nombre
                </div>
                <div class="mb-3">
                    <strong>Descripción:</strong> @item.Descripcion
                </div>
                <div class="mb-3">
                    <strong>Precio:</strong> $@item.Precio
                </div>
                <a href="/detallesProducto/@item.ProductoId"><button type="button" class="btn btn-info">Agregar</button></a>
            </div>

            
        </div>
    }
</div>

@code 
{
    [Parameter]
    public int? CategoriaId { get; set; } = null;


    protected override async Task OnInitializedAsync()
    {
        await ServicioProducto.CargarProductos($"api/Productos");
    }

}