@page "/"
@page "/{UrlCategoria}"
@inject HttpClient httpClient


@inject IServicioCategoria ServicioCategoria



<PageTitle>Home</PageTitle>

@if(categoria != null)
{
    <h1>Bienvenido a la seccion de @categoria.Nombre</h1>
    <ProyectoFinalECommerce.Client.Pages.Consultas.Catalogo CategoriaId = "@categoria.CategoriaId"/>
}

else
{
    <h1>Bienvenido a la tienda del hogar macorisano</h1>
    <ProyectoFinalECommerce.Client.Pages.Consultas.Catalogo />
}


@code
{
    [Parameter]
    public string UrlCategoria { get; set; }

    private Categorias categoria { get; set; }

    public List<Categorias> categorias { get; set; }

    public IEnumerable<Categorias> L_Categorias { get; set; } = Enumerable.Empty<Categorias>();

    public IEnumerable<Categorias> L_CategoriasCopia { get; set; } = Enumerable.Empty<Categorias>();

    protected override async void OnParametersSet()
    {
        //L_Categorias = await httpClient.GetFromJsonAsync<List<Categorias>>("api/Categorias");
        if(UrlCategoria != null)
        {

            
            categoria = L_Categorias.FirstOrDefault(c => c.Url.ToLower().Equals(UrlCategoria.ToLower()));

        }


        if (UrlCategoria == null)
    {
            categoria = null;
        }
    }
}