@page "/"
    @*
@page "/{UrlCategoria}"

@inject IServicioCategoria ServicioCategoria

<PageTitle>Home</PageTitle>

@if(categoria != null)
{
    <h1>Bienvenido a la seccion de @categoria.Nombre</h1>
    <ProyectoFinalECommerce.Client.Pages.Consultas.Catalogo CategoriaId = "@categoria.CategoriaId"/>
}

else
{
    <h1>Bienvendio a la tienda del hogar macorisano</h1>
    <ProyectoFinalECommerce.Client.Pages.Consultas.Catalogo />
}


@code
{
    [Parameter]
    public string UrlCategoria { get; set; }

    private Categorias categoria { get; set; }

    protected override void OnParametersSet()
    {
        if(UrlCategoria != null)
        {
            categoria = ServicioCategoria.Categorias.FirstOrDefault(c => c.Url.ToLower().Equals(UrlCategoria.ToLower()));
        }
        else
        {
            categoria = null;
        }
    }
} *@